@import '../abstract/variables';

.btn{
    border-radius: 0 !important;
    border: 0 !important;
}
.btn-primary {
    background-color: $color-primary !important;
    border-color: $color-primary !important;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color-primary, .5);
    }
}

.btn-secondary {
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;
    &:active {
        border-color: $color-secondary !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color-secondary, .5);
        border-color: $color-secondary;
    }
}