.app{
  background-color: antiquewhite;
}

.main-section{
  background-image: url(../../image/Image12.png);
  width: 100%;
  background-size: cover;
  height: 90vh;
  background-position: center bottom;
}

section{
  padding: 80px 120px;
}

.services{
  background-color: #dfdfdf;
}

.white-rounded-backgroung{
  padding: 1.5rem;
  background: white;
  border-radius: 50%;
}
