$color-primary: #0148a6;

$color-secondary: #3eced8;
$color-offwhite: #f9f9f9;

$color-success: #4bb08e;
$color-black: #000000;

$color-gray: #EFEFEF;

$color-graylight: #e2e5e9;

$color-graydark: #b5babe;
